/*
	font-family: 'Lato', sans-serif;
	font-family: 'Cantarell', sans-serif;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
*/
body {
	background-image: url("./img/coffeedeskmed.jpeg");
	background-color: #ecf0f1;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
	color: #2c3e50;
}
html, body {
	margin: 0;
	padding: 0;
}
h1, h2 {
	font-family: 'Alegreya Sans SC', sans-serif;
}
h6 {
	padding: 0px;
}

/* HEADER STYLES */
.logo {
	width: 15%;
	max-width: 25%;
	float: left;
	margin: 20px 20px 20px 12px;
	border: 3px solid #404148;
}
.logo img {
	max-width: 100%;
}
.company-name { 
	width: 78.5%;
	max-width: 80%;
	border: 1px solid black;
	margin-top: 20px;
	background-color: rgba(236, 240, 241, 0.6);
	clear: left;
	margin-right: 0;
	display: inline-block;
	text-align: center;
}
.navbar {
	clear: left;
	margin-left-right: 50px;
}
.nav-bar {
	width: 78.5%;
	max-width: 80%;
	clear: left;
	background-color: rgba(64, 65, 72, 0.9);
	border: 1px solid black;
	color: lightgrey;
	text-decoration: none;
	text-align: right;
	margin-bottom: 20px;
	display: inline-block;
}
.nav-bar li {
	display: inline;
	padding: 15px;
	text-align: right;
}

/* SIDEBAR STYLES */
.aside {
	width: 15%;
	max-width: 20%;
	border: 1px solid black;
	float: left;
	clear: both;
	padding: 15px;
	text-align: center;
	background-color: rgba(236, 240, 241, 0.8);
}

/* MAIN SITE CONTENT STYLES */
.main-content {
	width: 78%;
	max-width: 80%;
	border: 1px solid black;
	clear: left;
	padding: 1px;
	margin-right: 0;
	background-color: rgba(212, 158, 153, 0.6);
	display: inline-block;
}

.filter {
	width: 98%;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
	background-color: rgba(236, 240, 241, 0.8);
	margin-bottom: 20px;
}
.filter h3 {
	display: inline-block;
	text-align: right;
	margin-left: 30px;
}
.filter p {
	display: inline;
	padding: 10px;
	text-align: right;
}
.itemList {     
	width: 98%;
	max-width: 100%;
	display: inline-block;
	padding: 1px;
	padding-left: 65px;
	margin-right: 0;
	clear: none;
	margin: auto;
	margin-bottom: 50px;
}
.item {
	width: 28%;
	max-width: 50%;
	border: 1px solid black;
	display: inline-block;
	padding: 1px;
	background-color: rgba(236, 240, 241, 0.8);
	margin-bottom: 5px;
}
.itemImg {
	max-width: 50%;
	margin: 15px;
	z-index: 1;
	float: left;
}
.itemImg img{
	max-width: 90%;
}
.itemInfo {
	display: inline;
	clear: left;
}
.item a {
	text-decoration: none;
	color: #000;
	padding: 2px;
}
.item p {
	padding-left: 5px;
}
.itemIcon {
	padding: 20px;
	padding-bottom: 8px;
	margin: 0;
	float: right;
	display: inline-block;
}

/* FOOTER STYLES */
.footer {
	max-width: 100%;
	background-color: #004466;
	border: 1px solid black;
	clear: both;
	margin-top: 225px;
	color: #f0ffff;
	padding: 10px;
}

/* screen size smaller than 1137 */
@media screen and (max-width: 1136px) {
	/* HEADER STYLES */
	.logo {
		width: 15%;
		max-width: 20%;
	}
	.company-name { 
		width: 75%;
		margin-left: 30px;
		max-width: 80%;
	}
	.nav-bar {
		width: 75%;
		margin-left: 30px;
		max-width: 80%;
	}

	/* MAIN SITE CONTENT STYLES */
	.main-content {
		margin-left: 25px;
	}

	.filter {
		margin-left: 5px;
	}
	.itemImg {
		max-width: 43%;
		margin-right: 5px;
	}
	.itemInfo {
		max-width: 40%;
	}
	.item p {
		padding-left: 2px;
	}
	.itemIcon {
		display: none;
	}

	/* FOOTER STYLES */
	.footer {
		margin-top: 350px;
		padding: 5px;
	}

}